<div class="questions-container">
  @if (questions) {

  <div class="score">
    <h3
      [ngClass]="{
        success:
          questionsAnswered > 0 && questionsCorrect > questionsAnswered / 2,
        failure:
          questionsAnswered > 0 && questionsCorrect <= questionsAnswered / 2,
        neutral: questionsAnswered === 0
      }"
    >
      Puntuación: {{ questionsCorrect }} de {{ questionsAnswered }} correctas
    </h3>
  </div>

  @for (question of questions; track question._id) {
  <question-card
    (questionAnswered)="onQuestionAnswered($event)"
    [question]="question"
  />
  }

  <div class="pagination">
    <button (click)="prevPage()" class="prev-page" [disabled]="!havePrevPage()">
      ◀ Previous
    </button>
    <span class="current-page">{{ currentPage }}</span>
    <button (click)="nextPage()" class="next-page" [disabled]="!haveNextPage()">
      Next ▶
    </button>
  </div>
  }@else {
  <h2>No questions found</h2>
  }
</div>
