<h1><strong>TITLE: </strong>{{ comment.title }}</h1>
<p>
  <strong>BODY:</strong>
  {{ comment.body }}
</p>
<div>
  <button (click)="updatedClick = !updatedClick">Update me</button>
  <button class="btn_danger" (click)="commentDelete(comment.id!)">
    Delete me
  </button>
</div>
@if (updatedClick) {

<form [formGroup]="myForm" (ngSubmit)="onSubmit(title.value, body.value)">
  <input type="text" formControlName="title" id="title" name="title" #title />
  @if (isInValidField('title')) {
  <span class="form_error">{{ getFieldError("title") }}</span>
  }
  <input type="text" formControlName="body" id="body" name="body" #body />
  @if (isInValidField('body')) {
  <span class="form_error">{{ getFieldError("body") }}</span>
  }
  <button class="btn" [disabled]="myForm.invalid" type="submit">
    Update me
  </button>
</form>

}
