<div class="card">
  @if (question._id) {
  <h2 class="question">{{ question.question }}</h2>

  <div class="options">
    @for (option of question.options; track $index) {
    <button
      class="option"
      (click)="checkAnswer(option)"
      [ngClass]="{
        correct: isCorrect(option) && isSelected(option),
        incorrect: !isCorrect(option) && isSelected(option)
      }"
      [disabled]="isSelected(option) || isCorrectAnswerSelected"
    >
      {{ option }}
    </button>
    }
  </div>
  }
</div>
