<div class="container" *ngFor="let joke of jokes">
  <h4><strong>SETUP: </strong>{{ joke.setup }}</h4>
  <p [hidden]="joke.hide">
    <strong>PUNCHLINE:</strong>
    {{ joke.punchline }}
  </p>
  <button (click)="joke.toggle()">
    {{ joke.hide ? "Mostrar" : "Ocultar" }}
  </button>
</div>

<!-- Control de flujo en angular 18
@for (joke of jokes; track $index) {
<div>
  <h4>{{ joke.setup }}</h4>
  <p [hidden]="joke.hide">{{ joke.punchline }}</p>
  <button (click)="joke.toggle()">
    {{ joke.hide ? "Mostrar" : "Ocultar" }}
  </button>
</div>
} -->
