<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  @if (errorMessage) {
  <h2>{{ errorMessage }}</h2>
  }
  <div class="form_group">
    <label for="email">Correo electronico</label>
    <input
      formControlName="email"
      type="email"
      name="email"
      id="email"
      autocomplete="email"
    />
    @if(isValidField('email')){
    <span>{{ getFieldError("email") }}</span>
    }
  </div>

  <div class="form_group">
    <label for="password">Contraseña</label>
    <input
      formControlName="password"
      type="password"
      name="password"
      id="password"
      autocomplete="current-password"
    />
    @if(isValidField('password')){
    <span>{{ getFieldError("password") }}</span>
    }
  </div>

  <button type="submit" [disabled]="myForm.invalid">Login</button>
</form>
