<h1><strong>SETUP: </strong>{{ joke.setup }}</h1>
<p [hidden]="joke.hide">
  <strong>PUNCHLINE:</strong>
  {{ joke.punchline }}
</p>
<div>
  <button (click)="joke.toggle()">
    {{ joke.hide ? "Tell Me" : "Hidde" }}
  </button>
  <button class="btn_danger" (click)="delteJoke(joke.id)">Delete me</button>
</div>

<!-- Nueva forma angular 18
<h1><strong>SETUP: </strong>{{ joke().setup }}</h1>
<p [hidden]="joke().hide">
  <strong>PUNCHLINE:</strong>
  {{ joke().punchline }}
</p>
<div class="btn_grid">
  <button (click)="joke().toggle()">
    {{ joke().hide ? "Tell Me" : "Hidde" }}
  </button>
  <button class="btn_danger" (click)="delteJoke(joke())">Delete me</button>
</div>
-->
